<f:section name="Footer">
    <footer>
      <div id="footernav">
        <a href="https://www.uni-mannheim.de/impressum/">Impressum</a>
        <a href="https://www.uni-mannheim.de/datenschutzerklaerung/datenschutzinformationen-der-universitaetsbibliothek/">Datenschutzerklaerung</a>
      </div>
      <span id="copyright">© 2022 UB Mannheim</span>
      <div class="centring">
            <div class="footer-links">
                <a class="jsToTop" href="#skip2top" title="totop">nach oben</a>
            </div>
        </div>
    </footer>
</f:section>
