/*
 * BaseDesign
 *
 * Lists
 * ================================================
 * Design for lists and collection views
 *
 * Author: Thomas Jung <thomas@jung.digital>
 *
 */
/*
 *
 * Variables
 * ================================================
 * Value settings for type, breakpoints and
 * base settings for calculations
 *
 * Author: Thomas Jung <thomas@jung.digital>
 *
 */
/*
 *
 * Mixins
 * ================================================
 * Own mixins for clearfixes, text removal,
 * gradients and some other minor stuff
 *
 * Author: Thomas Jung <thomas@jung.digital>
 *
 */
/*
 *
 * Normalize
 * ================================================
 * Reset some browser based settings to start from
 * a clean white sheet of paper
 *
 * Author: Thomas Jung <thomas@jung.digital>
 *
 */
body {
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
blockquote {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: none;
}
/*
 *
 * Basic Styles
 * ================================================
 * Color typography and adjustments as a
 * basic styling for out of the box implementation
 *
 * Author: Thomas Jung <thomas@jung.digital>
 *
 */
/*
 *
 * UBMa Basic Styles
 * ================================================
 * Color typography and adjustments as a
 * basic styling for out of the box implementation
 *
 * Author: Bernd Fallert <bernd.fallert@bib.uni-mannheim.de>
  *
 */
body {
  min-height: 100vh;
  display: flex;
}
footer {
  position: fixed;
  bottom: 0;
  min-width: 100%;
  background-color: #ccc;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
div#footernav {
  float: left;
  min-height: 30px;
}
span#copyright {
  margin-right: 53px;
}
.tx-dlf-metadata h1:before {
  content: unset;
}
.content {
  position: relative;
  padding: 30px 0;
  min-height: 200px;
  color: #333333;
  line-height: 160%;
}
.content .main-column {
  position: relative;
  width: 100%;
}
.content aside.sidebar {
  position: relative;
  font-size: 14px;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .content {
    padding-bottom: 260px;
  }
}
@media screen and (min-width: 1024px) {
  .content {
    padding: 0 0 300px 0;
    min-height: auto;
  }
  .content .main-column {
    width: 60%;
    float: left;
    padding-right: 50px;
  }
  .content aside.sidebar {
    width: 30%;
    float: left;
  }
}
@media screen and (min-width: 1200px) {
  .content {
    padding-bottom: 400px;
  }
  .content .main-column {
    padding-right: 110px;
  }
}
#page {
  position: relative;
  min-height: 100%;
  width: 100%;
  background-size: 2200px auto;
}
@media screen and (min-width: 480px) {
  #page {
    background-size: 1600px auto;
  }
}
@media screen and (min-width: 768px) {
  #page {
    background-size: 2000px auto;
  }
}
@media screen and (min-width: 1024px) {
  #page {
    background-size: 2400px auto;
  }
}
.centring {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .centring {
    width: 750px;
  }
}
@media screen and (min-width: 1024px) {
  .centring {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .centring {
    width: 1170px;
  }
}
/*# sourceMappingURL=Resources/Public/Css/BaseDesign.css.map */