/*
 *
 * UBMa Basic Styles
 * ================================================
 * Color typography and adjustments as a
 * basic styling for out of the box implementation
 *
 * Author: Bernd Fallert <bernd.fallert@bib.uni-mannheim.de>
  *
 */

body {
    min-height: 100vh;
    display: flex;
}

footer {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    background-color: #ccc;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
div.footernav {
    float: left;
    min-height: 30px;
}
span#copyright {
    margin-right: 53px;
}