/*
 *
 * UBMa Basic Styles
 * ================================================
 * Color typography and adjustments as a
 * basic styling for out of the box implementation
 *
 * Author: Bernd Fallert <bernd.fallert@bib.uni-mannheim.de>
  *
 */

// Aus Uni
html {
  font-family: sans-serif;
  // 1
  line-height: 1.15;
  // 2
  -ms-text-size-adjust: 100%;
  // 3
  -webkit-text-size-adjust: 100%;
  // 3
}

body.collections,
body.listview {
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4,
    .has-subheadline + .subheadline,
    .h4, .h4,
    h5, .h5,
    h6, .h6 {
        font-family: "myriad-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        font-style: normal;
        font-weight: normal;
        color: inherit;
        text-rendering: optimizeLegibility;
    }
    h1 small, .h1 small,
    h2 small, .h2 small,
    h3 small, .h3 small,
    h4 small,
    .has-subheadline + .subheadline small,
    .h4 small, .h4 small,
    h5 small, .h5 small,
    h6 small, .h6 small {
        line-height: 0;
        color: #D1D7DF;
    }

    h1, .h1 {
      font-size: 2rem;
      line-height: 1.25;
      margin-top: 0;
      margin-bottom: 1rem;
    }

    h2, .h2 {
      font-size: 1.75rem;
      line-height: 1.42857;
      margin-top: 0;
      margin-bottom: 1rem;
    }

    h3, .h3 {
      font-size: 1.5rem;
      line-height: 1.16667;
      margin-top: 0;
      margin-bottom: 1rem;
    }


    h4,
    .has-subheadline + .subheadline,
    .h4, .h4 {
      font-size: 1.25rem;
      line-height: 1.4;
      margin-top: 0;
      margin-bottom: 1rem;
    }

    h5, .h5 {
      font-size: 1.25rem;
      line-height: 1.4;
      margin-top: 0;
      margin-bottom: 1rem;
    }

    h6, .h6 {
      font-size: 1.25rem;
      line-height: 1.4;
      margin-top: 0;
      margin-bottom: 1rem;
    }

    @media print, screen and (min-width: 64.0625em) {
        h1, .h1 {
            font-size: 3rem;
            line-height: 1;
            margin-top: 0;
            margin-bottom: 1.5rem;
        }
        h2, .h2 {
            font-size: 2.5rem;
            line-height: 1.2;
            margin-top: 0;
            margin-bottom: 1.5rem;
        }
        h3, .h3 {
            font-size: 2rem;
            line-height: 1.25;
            margin-top: 0;
            margin-bottom: 1.5rem;
        }

        h4,
        .has-subheadline + .subheadline,
        .h4, .h4 {
            font-size: 1.625rem;
            line-height: 1.23077;
            margin-top: 0;
            margin-bottom: 1.5rem;
        }
        h5, .h5 {
            font-size: 1.625rem;
            line-height: 1.23077;
            margin-top: 0;
            margin-bottom: 1.5rem;
        }
        h6, .h6 {
            font-size: 1.625rem;
            line-height: 1.23077;
            margin-top: 0;
            margin-bottom: 1.5rem;
        }
    }

    a {
        line-height: inherit;
        color: #232E58;
        text-decoration: none;
        cursor: pointer;

        &:hover, a:focus {
            color: #1e284c;
        }
        img {
            border: 0;
        }
    }
}



// Ende aus Uni
body {
    min-height: 100vh;
    display: flex;
}

footer {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    background-color: #ccc;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
div#footernav {
    float: left;
    min-height: 30px;
}
span#copyright {
    margin-right: 53px;
}

.tx-dlf-metadata {
    h1 {
        &:before {
            content: unset;
        }
    }
}